body {
    background-color: black;
}


#header {
    background-color: purple;
    width: 21%;
    padding: 10px;
    margin-bottom: 10px;
}

#instructions {
    background-color: purple;
    width: 50%;
    height: auto;
    padding: 10px;
    margin-bottom: 10px;
    
}

#points-needed {
    background-color: purple;
    width: 200px;
    padding: 28px;
    margin-bottom: 20px;
    float: left;

}

#wins-loss {
    background-color: purple;
    width: 200px;
    display: inline-block;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    
    
    
    
    
    

}

#score {
    background-color: purple;
    width: 21%;
    padding: 10px;
    margin-bottom: 1px;
    padding-bottom: 1%;
}

#crystal-wrapper {
    height: 10px;
    width: 50%;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    margin: 100 auto;
    margin-top: 10px;
